body {
  min-width: 800px;
}

.App {
  color: lightgray;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 30px;
  margin: 2vh 0;
}

.Channels {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  padding: 20vh 0 20vh 0;
  gap: 1.5vh;
}

.Channel, .Channel-active {
  background-color: #23547d;
  min-width: 30px;
  min-height: 30px;
  width: 7vh;
  height: 7vh;
  border-radius: 5px;
  color: #d8d8d8;
  font-size: calc(12px + 2vh);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

/* override property */
.Channel-active {
  background-color: #f26841;
}

.Radio-header {
  font-size: 50px;
  color: white;
  padding: 3vh;
  text-align: center;
  font-weight: bolder;
}

.Player {
  flex-grow: 1;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 45vh;
}

/* Background image path added in App.tsx */
.Image {
  background-position: center;
  background-size: cover;
  min-width: 100px;
  min-height: 100px;
  width: 40vh;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Title {
  font-size: calc(16px + 2vmin);
  font-weight: bold;
  padding: 20px 0 10px 0;
}

.Description {
  font-size: calc(8px + 2vmin);
  padding: 10px 0 10px 0;
  word-wrap: normal;
  height: 10vh;
}

.Player-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  /*overflow: hidden;*/
  outline: none;
  /*position: absolute;*/
  /*top: 40%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
}

.Player-icon {
  height: 10vh;
  color: lightgray;
  cursor: pointer;
}

.Analyzer {
  height: 20vh;
  margin-top: 3vh;
  margin-bottom: -10vh;
}

.Canvas {
  height: 15vh;
  width: 40vh;
}

.Volume {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Volume-icon {
  height: 5vh;
  color: lightgray;
  padding: 2px;
}
